<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Скопируйте этот файл в android/app/src/main/res/values/secrets.xml и заполните своим API ключом -->
    <string name="yandex_mapkit_api_key">your_yandex_mapkit_api_key_here</string>
</resources>